# Introduction to Machine Learning and Data Science: Machine Learning basics with Diabetes and Aquatic Toxicity datasets

This notebook contains exercises for an introductory course on Machine Learning and Data Science, focusing on a regression and a classification problem with the QSAR Aquatic Toxicity and the Pima Indians Diabetes datasets, respectively.

We will cover essential steps in understanding, cleaning, transforming, and analyzing the data using pandas and matplotlib/seaborn. The exercises are divided into basic, intermediate, and advanced levels.

**Estimated Time**: 2 Hours

## Setup

We already used the Diabetes dataset last week, but here are the names of the columns, since it comes without them:
1. Pregnancies
2. Glucose
3. BloodPressure
4. SkinThickness
5. Insulin
6. BMI
7. DiabetesPedigreeFunction
8. Age
9. Outcome (0 for no diabetes, 1 for diabetes)

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# URL for the Pima Indians Diabetes dataset
url_classification = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names_classification = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

# Load the dataset
diabetes_df = pd.read_csv(url_classification, names=names_classification)

# Display the first few rows to confirm loading
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

For the regression dataset, we will use the QSAR Aquatic Toxicity dataset, which was used to develop a quantitative structure-activity relationship models to predict aquatic toxicity towards the fish Pimephales promelas (fathead minnow). LC50, which is the concentration that causes death in 50% of test Daphnia Magma over a test duration of 48 hours, is the target.

In [5]:
url_regression = "https://raw.githubusercontent.com/readytensor/rt-datasets-regression/refs/heads/main/datasets/processed/aquatic_toxicity/aquatic_toxicity.csv"

aquatic_toxicity_df = pd.read_csv(url_regression)
aquatic_toxicity_df.head()

   Id  TPSA(Tot)  SAacc  H-050  MLOGP  RDCHI  GATS1p  nN  C-040   LC50
0   0       0.00    0.0      0  2.419  1.225   0.667   0      0  3.740
1   1       0.00    0.0      0  2.638  1.401   0.632   0      0  4.330
2   2       9.23   11.0      0  5.799  2.930   0.486   0      0  7.019
3   3       9.23   11.0      0  5.453  2.887   0.495   0      0  6.723
4   4       9.23   11.0      0  4.068  2.758   0.695   0      0  5.979

## Basic Exercisess (Approx. 45-60 minutes)

These exercises focus on the most basic fundamentals of the machine learning pipeline.

### Exercise 1: Splitting the Data

1. Separate features (`X`) and target (`y`).
2. Perform the data splitting with the `sklearn.model_selection.train_test_split`. Get the training, validation and test sets with a 60/20/20  split. **Only for classification dataset**: perform the splitting with the `stratify` option set to yes. It attempts to keep the percentages of the classes in the different sets.
3. Print the shape of both sets, to see how many attributes and samples there are in each.

In [6]:
# Your code for Exercise 1.1

y_dia = diabetes_df["Outcome"]
X_dia = diabetes_df.drop("Outcome", axis=1)

y_tox = aquatic_toxicity_df["LC50"]
X_tox = aquatic_toxicity_df.drop("LC50", axis=1)

In [7]:
# Your code for Exercise 1.2

from sklearn.model_selection import train_test_split

#Diabetes
X_temp_dia, X_test_dia, y_temp_dia, y_test_dia = train_test_split(X_dia, y_dia, test_size=0.2, random_state=42, stratify=y_dia)
X_train_dia, X_val_dia, y_train_dia, y_val_dia = train_test_split(X_temp_dia, y_temp_dia, test_size=0.25, random_state=42, stratify=y_temp_dia)

#Toxicity
X_temp_tox, X_test_tox, y_temp_tox, y_test_tox = train_test_split(X_tox, y_tox, test_size=0.2, random_state=42)
X_train_tox, X_val_tox, y_train_tox, y_val_tox = train_test_split(X_temp_tox, y_temp_tox, test_size=0.25, random_state=42)

In [11]:
# Your code for Exercise 1.3

print(f"There are {len(X_train_dia)} training instances, {len(X_val_dia)} validation and {len(X_test_dia)} test set for diabetes")
print(f"There are {len(X_train_tox)} training instances, {len(X_val_tox)} validation and {len(X_test_tox)} test set for diabetes")

There are 460 training instances, 154 validation and 154 test set for diabetes
There are 327 training instances, 109 validation and 110 test set for diabetes

### Exercise 2: Training your first models
1. Train `LinearRegression` on the regression dataset (Aquatic Toxicity).
2. Train `LogisticRegression` on the classification dataset (Diabetes).
3. Predict on the test set for each.
4. Print first 5 predictions.

In [ ]:
# Your code for Exercise 2.1

In [ ]:
# Your code for Exercise 2.2

In [ ]:
# Your code for Exercise 2.3

In [ ]:
# Your code for Exercise 2.4

### Exercise 3: Evaluate your models
1. For regression, use the following metrics to check how good your predictions were: `mean_squared_error`, `r2_score`.
2. Do the same for classification for these: `accuracy_score`, `confusion_matrix`
3. Interpret: Are predictions close? For classification, is there a clear tendency in the model (too many false positives, false negatives, etc.)?

In [ ]:
# Your code for Exercise 3.1

In [ ]:
# Your code for Exercise 3.2

## Intermediate Exercises (Approx. 45-60 minutes)

These exercises focus on comparing the performance of multiple models, performing cross-validation and using visualization techniques to understand better the results.

### Exercise 4: Compare multiple models
1. For the regression problem: Train and compare `LinearRegression`(already done), `DecisionTreeRegressor`, and `KNeighborsRegressor`.
2. For the classification problem: Train and compare `LogisticRegression` (already done), `KNeighborsClassifier`, and `DecisionTreeClassifier`.
3. Evaluate using RÂ² score and accuracy each, respectively.
4. Which model performs best in each case? Why do you think that might be? Try to understand how the models work. Here is the documentation for each of them:
  - [LinearRegression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)
  - [DecisionTreeRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html)
  - [KNeighborRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html)
  - [LogisticRegression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html)
  - [KNeighborsClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html)
  - [DecisionTreeClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html)

In [ ]:
# Your code for Exercise 4.1

In [ ]:
# Your code for Exercise 4.2

In [ ]:
# Your code for Exercise 4.3

### Exercise 5: Cross-validation
1. Use `cross_val_score` for the best model in each case, with `cv=5`.
2. For classification, try both `accuracy` and `f1` as scoring methods, to compare the trainings in the cross-validation.
3. For the regression, use both `r2` and `neg_mean_squared_error`.
4. Print mean + std of the scores.

In [ ]:
# Your code for Exercise 5.1 and 5.2

In [ ]:
# Your code for Exercise 5.1 and 5.3

In [ ]:
# Your code for Exercise 5.4

### Exercise 6: Classification report and visualization

1. Use the `classification_report` function for the classification problem ([link](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) to documentation)
2. Calculate the confusion matrix and plot it using `ConfusionMatrixDisplay`.

In [ ]:
# Your code for Exercise 6.1

In [ ]:
# Your code for Exercise 6.2

## Advanced Exercises (Approx. 45-60 min)

These exercises explore hyperparameter tuning methods and final model evaluation.

### Exercise 7: Hyperparameter tuning using Grid Search

1. Use `GridSearchCV` with `LogisticRegression`. Try this grid: `C=[0.01, 0.1, 1, 10]`, `penalty=['l1', 'l2']`, `solver='liblinear'`.
2. You can also run a cross validation with this function. Try a `cv=5`.
3. Print what the best parameters and score were.

`GridSearchCV` documentation: [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html).

In [ ]:
# Your code for Exercise 7.1

In [ ]:
# Your code for Exercise 7.2

In [ ]:
# Your code for Exercise 7.3

### Exercise 8: Hyperparameter tuning using Random Search

1. Use `RandomizedSearchCV` on the [`Ridge`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html) model (for regression). Sample only one parameter: `alpha` from `scipy.stats.uniform(0.01, 10)`.
2. Limit the random search to only 10 iterations.
3. Print the best alpha and score.

In [ ]:
# Your code for Exercise 8.1

In [ ]:
# Your code for Exercise 8.2

In [ ]:
# Your code for Exercise 8.3

### Exercise 9: Final model & test evaluation

1. Take the best model from Grid/Random search
2. Predict on test set
3. Print final metrics

In [ ]:
# Your code for Exercise 9.1

In [ ]:
# Your code for Exercise 9.2

In [ ]:
# Your code for Exercise 9.3